.attendance{
  border: 2px solid black;
  width: 400px;
  height: 600px;
  background-color: rgb(215, 250, 228);
  margin-left: 400px;
  padding: 30px;
  border-radius:30px ;
  margin-top: 20px;
}
.RaSidebar-fixed{
  background-color: red!important;
}
.errors{
  color: blue;
}

button{
  text-align: center;
  background-color: red;
 
  color:white;
  width: 100%;
  height: 50px;
  border-radius:10px;
  font-size: 15px;
  font-weight: bold;
  
}

h1{
  text-align: center;
} 

.label{
  color: blueviolet;
}


.data {
    width: 100%;
    border-radius: 50;
    height: 28px;
    border: 5px;
    border-radius: inherit;
}
.image{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  max-width: 100%;
  border-radius: 50%;
}