.template{
    display: flex;
    background-color: aquamarine;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;

}




.submit-button{
    background-color: blue;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-left: 140px;
}

img{
    display: flex;
    border-radius: 40px;
    width: 600px;
    height: 650px;
    padding-top: 10px;
    padding-left: 80px;
    
    
    
}
.border{
    margin-top: 10px;
    background-color: WHITE;
    width: 600px;
    border-radius: 20px;

}
.titles{
    color:black;
    margin-top: 80px;
    margin-left: 150px;
}
.form-border{
    border: 3px solid rgb(20, 17, 17);
    width: 400px;
    height: 400px;
    position: absolute;
    right: 150px;
    opacity: 1;

}


.moments{
    position: absolute;
    margin-top: 500px;
    margin-left: 200px;
    font-size: 30px;
    color: white;
}
.memories{
    position: absolute;
    margin-top: 550px;
    margin-left: 200px;
    font-size: 30px;
    color: white;
}
.signup{
    
    position: absolute;
    top: 10px;
    right: 10px;
    color:blue;
    

}
.login{
    position: absolute;
    top: 10px;
    left: 20px;button{
    width: 80px;
    height: 30px;
background-color: rgb(238, 117, 117);
}

}
.label1{
    margin-top: 70px;
    padding-left: 20px;
    font-size: 15px;
}
.text-border{
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 360px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
  
}
.label2{
    padding-left: 20px;
    font-size: 15px;
   
}
.p-1{
     text-align: center;
     position: absolute;
     top: 350px;
     left: 100px;
     opacity: 0.5;
     
}
