.main-content{
    display: flex;
}

.headline{
    font-size: 20px;
    color:red;
    
    
    
}
.md-6{
    border:none;
    width: 100px;
    height: 700px;

    background-color: black;
    
}

.md-1{
text-decoration: none;
}

.md-2{
    text-decoration: none;
}
.md-3{
    text-decoration: none;
}
.md-4{
    text-decoration: none;
}

.logout-button{
    width: 80px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    color:blue;
   
}
.home{
    
    border:2px solid black;
    width: 100%;
    height: 60px;
    background-color: black;
}
.main-content{
    display:flex
}
.header{
    width: 100%;;
    height: 40px;
    background-color:grey;
    display: flex;
    
}
.LINK-1{
    position: absolute;
     left: 1000px;
     text-decoration: none;

}
.LINK2{
    position: absolute;
    left: 900px;
    text-decoration: none;
}
.h-2{
    font-size: 20px;
}