.form{
    border:2px solid black;
    width: 450px;
    height: 500px;
    text-align: center;
    background-color: black;
    position: absolute;
    top: 20px;
    right: 20px;

}

.text{
    width: 300px;
    height: 25px;
    border-radius: 10px;
}

.title{
    color: brown;
}

h1{
    color: brown;
    margin-right: 150px;
  
}

.error-generate{
    color: blue;
    margin-right: 160px;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: blue;
    height: 20px;
}

.other-button{
    background-color: green;
}

.mt-4{
    font-size: 10px;
    width: 60%;
    position: absolute;
    top:10%;
    left: 15%;
}

table, th{
    text-align: center;
    
}
.b-5{
    width: 60px;
    color: red;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: aqua;
}
.b-6{
    width: 60px;
    color: red;
    position: absolute;
    top: 60px;
    right: 100px;

    background-color: aqua;
} 
.page-button{
    color: red;
    position: absolute;
    top: 60px;
    right: 150px;
}